header.header
  .container
    .header__wrapper
      .header__left
        .header__logo
          a(href='/')
            img(src='../../assets/img/logo.png')
        .header__menu
          ul
            li
              a(href='#') Products
            li
              a(href='#') Stores & Events
            li
              a(href='#') Wholesale
      .header__actions
        .header__button
          a(href='#') Contact
        .header__burger
          span
          span
          span
