extends ../layout/main


block content
    .header-page(style='    background-image: url(../../assets/img/wholesale.jpg)')
        .header-page__content
            h1.header-page__title Stores & Events

    .page__wrapper
        .container
            .section__content
                .row.align-items-center
                    .col-12.col-lg-6
                        .about__wrapper

                            h2.about__title We set out to make a toy with the best features ever!
                            .about__text
                                p Around 75% of vulva owners need external clitoral stimulation to reach an orgasm. With thousands of nerve endings, it is the only –known- body part whose sole and unique function is pleasure!
                                p With this in mind, we developed Snail Vibe, a toy offering constant stimulation of the clit, while allowing internal sliding movement mimicking penetration, thanks to 2 powerful motors that deliver deep and intense vibrations. A toy for everyone who wants to enjoy dual stimulation, without losing touch with the clitoris!
                    .col-12.col-lg-6
                        .about__image
                            img(src='../../assets/img/wholesale.jpg')