extends ../layout/main


block content
    .header-page(style='    background-image: url(../../assets/img/wholesale.jpg)')
        .header-page__content
            h1.header-page__title Stores & Events

    .page__wrapper
        .container
            .section__content
                h2.title.title_center.title_second.title_purple Video Reviews
                .row
                    -for(let i = 0; i<4;i++)
                        .col-12.col-sm-6
                            .review-video
                                .review__video
                                    iframe(src='https://www.youtube.com/embed/amS2VDAQRBc?wmode=opaque&autoplay=1&enablejsapi=1')
                                .review__name Venus O'Hara  English