.form {
  &__item {
    max-width: 280px;
    width: 100%;
    @include media(768) {
      margin-bottom: 5%;
    }
    &_half {
      max-width: 100%;
      width: 50%;
      padding: 0 5px;
      margin-bottom: 15px;
      @include media(768) {
        width: 100%;
      }
    }
    &_full {
      width: 100%;
      max-width: 100%;
      padding: 0 5px;
      margin-bottom: 15px;
    }
  }
  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: calc(1 * 1rem);
    font-weight: 300;
  }
  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0;
    padding: 1.4rem 2rem !important;
    line-height: 1.2rem !important;
    font-size: calc(1 * 1rem) !important;
    font-weight: 300;
    background: #fff;
  }
  &__button {
    padding: 1.4rem 2rem !important;
    line-height: 1.2rem !important;
    font-size: calc(1 * 1rem) !important;
    margin-left: 2rem;
    color: #ab3872;
    cursor: pointer;
    border: 2px solid #ab3872;
    border-radius: 300px;
    background-color: transparent;
    transition: all .25s;
    @include media(768) {
      margin-left: 0;
    }
    &_contacts {
      margin-left: 0;
    }
    &:hover {
      color: #fff;
      background-color: #ab3872;
    }
  }
  &__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}